<!DOCTYPE html>
<html>
  <header>
    <div id="nav">
        <img src="img/logo.png" alt="SVDA LOGO" width="175px" height="100px">
    </div>
  </header>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>SVDA Add</title>
    <link href="css/add.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Add New Member</h1>

      <div class="showTitle">
        <p class="title">STUDENT INFORMATION</p>
      </div>

    <form method="POST" action="/add">
      <div id="filter">
        <div id="category">
          
          Student's First Name: <input class="box" type="text" name="student_first_name"><br>
          Student's Middle Name: <input type="text" class="box" name="student_middle_name"><br>
          Student's Last Name: <input type="text" style="width:30%" class="box" name="student_last_name"><br>
          Student's Email: <input type="text" style="width:35%" class="box" name="student_email"><br>
          Student's Phone Number: <input type="text" class="box" name="student_phone_number"><br>
          Student's Grade: <input type="text" class="box" style="width:30px" name="student_grade"><br>
          Student's Current Status: <input type="text" class="box" name="student_status"> 
        </div>
      </div><br>

      <div class="showTitle">
        <p class="title">FATHER INFORMATION</p>
      </div>
      <div id="filter">
        <div id="category">
          Father's First Name: <input type="text" class="box" name="father_first_name"><br>
          Father's Last Name: <input type="text" style="width:30%" class="box" name="father_last_name"><br>
          Father's Phone Number: <input type="text" class="box" name="father_phone_number"><br>
          Father's Email: <input type="text" class="box" style="width:35%" name="father_email"><br>
          Father's Highest Education: <input type="text" class="box" name="father_education"><br>
          Father's Country of Birth: <input type="text" class="box" name="father_place_birth"><br>
          Father's Current Employer: <input type="text" class="box" name="father_employer"><br>
          Father's Current Job Title: <input type="text" class="box" name="father_job_title">
        </div>
      </div><br>

      <div class="showTitle">
        <p class="title">MOTHER INFORMATION</p>
      </div>  
      <div id="filter">
        <div id="category">
          Mother's First Name: <input type="text" class="box" name="mother_first_name"><br>
          Mother's Last Name: <input type="text" style="width:30%" class="box" name="mother_last_name"><br>
          Mother's Phone Number: <input type="text" class="box" name="mother_phone_number"><br>
          Mother's Email: <input type="text" class="box" style="width:35%" name="mother_email"><br>
          Mother's Highest Education: <input type="text" class="box" name="mother_education"><br>
          Mother's Country of Birth: <input type="text" class="box" name="mother_place_birth"><br>
          Mother's Current Employer: <input type="text" class="box" name="mother_employer"><br>
          Mother's Current Job Title: <input type="text" class="box" name="mother_job_title">
        </div>
      </div><br>

      <div class="showTitle">
        <p class="title">GUARDIAN INFORMATION</p>
      </div>
      <div id="filter">
        <div id="category">
          Guardian's Full Name: <input type="text" style="width:35%" class="box" name="guardian_name"><br>
          Guardian's Email <input type="text" class="box" style="width:35%" name="guardian_email"><br>
          Guardian's Phone Number <input type="text" class="box" name="guardian_phone_number">
        </div>
      </div><br>

        <div id="send">
            <button>SEND</button>
        </div>
    </form>
  </body>