<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add New Member</h1>

    <h3>Student Information</h2>
    <form method="POST" action="url_path">
        Student's First Name: <input type="text" name="student_first_name">
        Student's Middle Name: <input type="text" name="student_middle_name">
        Student's Last Name: <input type="text" name="student_last_name">
        Student's Phone Number: <input type="text" name="student_phone_number">
        Student's Grade: <input type="text" name="student_grade">
        Student's Current Status: <input type="text" name="student_status"> 

    <h3>Father Information</h3>
        Father's First Name: <input type="text" name="father_first_name">
        Father's Last Name: <input type="text" name="father_last_name">
        Father's Phone Number: <input type="text" name="father_phone_number">
        Father's Email: <input type="text" name="father_email">
        Father's Highest Education: <input type="text" name="father_education">
        Father's Country of Birth: <input type="text" name="father_place_birth">
        Father's Current Employer: <input type="text" name="father_employer">
        Father's Current Job Title: <input type="text" name="father_job_title">

    <h3>Mother Information</h3>
        Mother's First Name: <input type="text" name="mother_first_name">
        Mother's Last Name: <input type="text" name="mother_last_name">
        Mother's Phone Number: <input type="text" name="mother_phone_number">
        Mother's Email: <input type="text" name="mother_email">
        Mother's Highest Education: <input type="text" name="mother_education">
        Mother's Country of Birth: <input type="text" name="mother_place_birth">
        Mother's Current Employer: <input type="text" name="mother_employer">
        Mother's Current Job Title: <input type="text" name="mother_job_title">
    </form>
  </body>
} 