<!-- This page is where you send emails to any student depending on the filter that is selected -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>SVDA Home</title>
    <link href="css/index.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <!-- Logout Button? User Icon that will have dropdown menu to logout -->
      <div id="nav">
        <img src="img/logo.png" alt="SVDA LOGO" width="175px" height="100px">
      </div>
    </header>

    <main>
      <h1>SEND EMAILS</h1>
      <br>
      <!-- Filtering the recipients -->

      <div class="showTitle">
        <p class="title">FILTER</p>
      </div>

      
      <div id="filter">
        <div class="category">
          <p>Existing SVDA Student:</p>
          <input type="checkbox" name="svdaStudent" value="Both"> Both
          <input type="checkbox" name="svdaStudent" value="Yes"> Yes
          <input type="checkbox" name="svdaStudent" value="No"> No
        </div>

      <div class="category">
        <p>Gender:</p>
        <input type="checkbox" name="gender" value="ALL"> All Genders
        <input type="checkbox" name="gender" value="M"> M
        <input type="checkbox" name="gender" value="F"> F
        <input type="checkbox" name="gender" value="Unidentified"> Prefer Not To Say
      </div>

      <div class="category">
        <p>Age:</p>
        <input type="checkbox" name="age" value="ALL"> All Ages
        <input type="checkbox" name="age" value="13"> 13 & Under
        <input type="checkbox" name="age" value="14"> 14
        <input type="checkbox" name="age" value="15"> 15
        <input type="checkbox" name="age" value="16"> 16
        <input type="checkbox" name="age" value="17"> 17
        <input type="checkbox" name="age" value="18"> 18
        <input type="checkbox" name="age" value="19"> 19 & Over
      </div>

      <div class="category">
        <p>Parent Situation:</p>
        <input type="checkbox" name="parents" value="Both"> Has both parents
        <input type="checkbox" name="parents" value="Mom"> Mom only
        <input type="checkbox" name="parents" value="Dad"> Dad only
        <input type="checkbox" name="parents" value="None"> Has no parents
      </div>

      <div class="category">
        <p>Employed:</p>
        <input type="checkbox" name="employed" value="Both"> Both
        <input type="checkbox" name="employed" value="Yes"> Yes
        <input type="checkbox" name="employed" value="No"> No
      </div>

      <div class="category">
        <p>Qualifies for Free Lunch:</p>
        <input type="checkbox" name="freeLunch" value="Both"> Both
        <input type="checkbox" name="freeLunch" value="Yes"> Yes
        <input type="checkbox" name="freeLunch" value="No"> No
      </div>

      <div class="category">
        <p>City:</p>
        <input type="checkbox" name="city" value="ALL"> All Cities
        <input type="checkbox" name="city" value="Salinas"> Salinas
        <input type="checkbox" name="city" value="Monterey"> Monterey
        <input type="checkbox" name="city" value="Carmel"> Carmel
        <input type="checkbox" name="city" value="Gonzales"> Gonzales
        <input type="checkbox" name="city" value="King City"> King City
        <input type="checkbox" name="city" value="Greenfield"> Greenfield
        <input type="checkbox" name="city" value="Soledad"> Soledad
        <input type="checkbox" name="city" value="Castroville"> Castroville
        <input type="checkbox" name="city" value="Watsonville"> Watsonville
        <input type="checkbox" name="city" value="Other"> Other
      </div>

      <div class="category">
        <p>Year in Academy:</p>
        <input type="checkbox" name="year" value="allYears"> ALL
        <input type="checkbox" name="year" value="2015-2016"> 2015-2016
        <input type="checkbox" name="year" value="2015-2016"> 2016-2017
        <input type="checkbox" name="year" value="2015-2016"> 2017-2018
        <input type="checkbox" name="year" value="2015-2016"> 2018-2019
        <input type="checkbox" name="year" value="2015-2016"> 2019-2020
        <input type="checkbox" name="year" value="2015-2016"> 2020-2021

      </div>

      <div class="category">
        <p>School:</p>
        <input type="checkbox" name="schools" value="allSchools"> ALL
        <input type="checkbox" name="schools" value="AHS"> AHS
        <input type="checkbox" name="schools" value="NSHS"> NSHS
        <input type="checkbox" name="schools" value="EAHS"> EAHS
        <input type="checkbox" name="schools" value="SHS"> SHS
        <input type="checkbox" name="schools" value="other"> OTHER
      </div>

      <div class="category">
        <p>Graduation Year:</p>
        <input type="checkbox" name="graduationYear" value="allGradYears"> ALL 
        <input type="checkbox" name="graduationYear" value="2015"> 2015
        <input type="checkbox" name="graduationYear" value="2016"> 2016
        <input type="checkbox" name="graduationYear" value="2017"> 2017
        <input type="checkbox" name="graduationYear" value="2018"> 2018
        <input type="checkbox" name="graduationYear" value="2019"> 2019
        <input type="checkbox" name="graduationYear" value="2020"> 2020
        <input type="checkbox" name="graduationYear" value="other"> OTHER
      </div>

      <div class="category">
        <p>GPA:</p>
        <input type="checkbox" name="gpa" value="ALL"> All
        <input type="checkbox" name="gpa" value="2.0 or lower"> 2.0 or lower
        <input type="checkbox" name="gpa" value="2.0-2.5"> 2.0 - 2.5
        <input type="checkbox" name="gpa" value="2.5-3.0"> 2.5 - 3.0
        <input type="checkbox" name="gpa" value="3.0-3.5"> 3.0 - 3.5
        <input type="checkbox" name="gpa" value="3.5-4.0"> 3.5 - 4.0 
        <input type="checkbox" name="gpa" value="4.0+"> 4.0+
      </div>


      <div class="category">
        <p>Has been in Foster Care:</p>
        <input type="checkbox" name="fosterCare" value="Yes"> Yes
        <input type="checkbox" name="fosterCare" value="No"> No
        <input type="checkbox" name="fosterCare" value=""> N/A
      </div>
      
      <br>

      <div class="showTitle">
        <p class="title">EMAIL</p>
      </div>

      <div id="input">
        <form action="/sendEmail">
          <p class="email"> Recipients: </p>
          <input class="box" size="40" type="text" placeholder="To" name="recipientVal"> <br>
          <p class="email"> Subject: </p>
          <input class="box" size="40" type="text" placeholder="Subject" name="subjectVal"> <br>
          <p class="email"> Text/Content: </p> 
          <textarea cols="83" rows="10" placeholder="Type here..." name="textVal"></textarea>
          <!-- <input class="box" type="text" placeholder="Text/Content"> <br> -->
          <p class="email"> Attach Files: </p>
          <input type="file">

          <div id="send">
            <button>SEND</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
